/* Write your CSS here */
.team-card-list-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff33;
  outline-color: #ffffff;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 30px;
}
.team-card-img1 {
  width: 100px;
  height: 130px;
}
.team-card-h1 {
  color: #ffffff;
  font-family: 'bree serif';
  width: 200px;
  text-align: center;
  font-weight: 300;
  margin-top: 40px;
  text-decoration: none;
  margin-left: 10px;
}
.link-item {
  text-decoration: none;
}
